html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}  
.logo {
    transition: all 0.5s linear;
    border-radius: 80%;
}
.logo:hover {
    transform: scale(1.1);
    transition: all 0.5s linear;
}
.navbar-list li {
    position: relative;
    padding: 0;
}
.navbar-list li a::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    background: rgb(236, 183, 237);
    position: absolute;
    bottom: 0;
    left: 0;
  
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}
  
.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}
  
.hero-presentation h1 {
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
  }



.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px #000;
    text-align: center;
}
.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: #f3f3f3;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
#cards-fungi-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 70px 0px;
    color: #f3f3f3;
}
.cards-fungi-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.hero-presentation span {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 100%;
    
    animation: typing 2s steps(16), blink .5s infinite step-end alternate;
    overflow: hidden;
}
    
    @keyframes typing {
    
    from { width: 0}
}
    
    @keyframes blink {
     50% { border-color: transparent }
}


@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
  @keyframes slide-up {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
}
  
  @keyframes slide-right {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
}
  
.hero-presentation h1 {
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}
.hero-presentation p {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;
}
  