* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
} 
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.3)), url(../assets/bg-hongos4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo{
    padding: 10px 0px 20px 20px;
    cursor: pointer;
    width: 20%;
    height: 20%;
    position: static;
    border-radius: 50px;
}

.datoslogin{
    width: 600px;
    height: 350px;
    color: rgb(255, 255, 255);
    top:30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
    
}

.datoslogin .logologin{
    width: 100%;
    height: 100%;
    position: static;
    top: -50px;
    left: calc(50% - 50px);
    
   
}

.datoslogin label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.datoslogin h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
   
}
.datoslogin input{
    width: 100%;
    margin-bottom: 20px;
    
}
.datoslogin input[type="text"],
.datoslogin input[type="password"]{
border: none;
border-bottom: 3px solid #d76dd0;
background: transparent;
outline: none;
height: 40px;
color: rgb(255, 255, 255);
font-size: 16px;

}

.datoslogin input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #d76dd0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

input::placeholder{
    color: #f2c293;
    font-size: 14px;
}
input{
    font-weight: bold;
}